* {
  box-sizing: border-box;
}

.header {
 display: flex;
  gap: 6vh;
  height: 12vh;
  justify-content: center;
}

.button,
.current-grid-size-display {
  border: 1px solid black;
}

.etching-grid-surface {
  border: 1vh solid #eb0e0e;
  box-sizing: content-box;
  display: flex;
  flex-wrap: wrap;
  height: 70vh;
  margin: 7vh auto;
  width: 70vh;
}

.grid-pixel {
  background-color: #e0dfdd;
  border: 1px solid #595957;
}

.etched {
  background-color: #595957;
}
