* {
  box-sizing: border-box;
}

.container {
  color: #1e232b;
  display: flex;
  flex-direction: column;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0px;
  min-height: 100vh;
  text-align: center;
}

header {
  background-color:#feffff;
  border-bottom: 1px solid #718f03;
  color:#5a7ca3;
  font-size: 4vh;
  font-weight: bold;
  padding: 2vh 0vh;
}

.main {
  display: flex;
  flex: 1;
}

.content-panel {
  background-color: #a1bed5;
  background-image: url("../img/pexels-photomix-company-97888.jpg");
  flex: 1;
  order: 2;
}

aside {
  background-color: #f5f8f7;
  flex: 0 0 20vw;
}

.left-panel {
  border-right: 1px solid #595957;
  order: 1;
}

.right-panel {
  border-left: 1px solid #595957;
  order: 3;
}

.side-container {
  font-size: 18px;
  margin: 7vh 2vw;
}

.instructions {
  background-color: #feffff;
  border: 1px dashed #587ba3;
  margin: 7vh 1vw;
  padding: 1vw;
  text-align: left;
}

.instructions:hover {
  box-shadow: 6px 6px 5px#587ba3;
  color:black;
  transform: scale(1.07, 1.07);
}

.instructions > ul {
  padding-left: 15px;
}

.current-settings {
  background-color: #bada17;
  border: 2px solid #598400;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
}

.info-dynamic {
  font-weight: bold;
}

.buttons-container {
  display: flex;
  flex-direction: column;
  gap: 0.5vh;
}

button {
  background-color: #ececec;
  border: 2px solid #4d7201;
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
  padding: 3vh 0vw;
}

button:hover {
  box-shadow: 6px 6px 5px #404a5b;
}

button:active {
  background-color: #a1bed5;
}

.classic-mode-button {
  border: 2px solid #eb0e0e;
}

.classic-mode-grid-frame {
  border: 1vh solid #eb0e0e;
}

.rainbow-mode-button {
  border: 2px solid blue;
}

.rainbow-mode-grid-frame {
  border: 1vh solid blue;
}

.airbrush-mode-button {
  border: 2px solid black;
}

.airbrush-mode-grid-frame {
  border: 1vh solid black;
}

.etching-grid-surface {
  box-sizing: content-box;
  display: flex;
  flex-shrink: 0;
  flex-wrap: wrap;
  height: 70vh;
  margin: 7vh auto;
  width: 70vh;
}

.grid-pixel {
  background-color: #e0dfdd;
  border: 1px solid #595957;
}

.etched {
  background-color: #595957;
}

.rainbow-colored-0 {
  background-color: red;
}

.rainbow-colored-1 {
  background-color: orange;
}

.rainbow-colored-2 {
  background-color: yellow;
}

.rainbow-colored-3 {
  background-color: green;
}

.rainbow-colored-4 {
  background-color: blue;
}

.rainbow-colored-5 {
  background-color: indigo;
}

.airbrushed-pass-1 {
  background-color: white;
}

.airbrushed-pass-0 {
  background-color: #999999;
}

.airbrushed-pass-1 {
  background-color: #888888;
}

.airbrushed-pass-2 {
  background-color: #777777;
}

.airbrushed-pass-3 {
  background-color: #666666;
}

.airbrushed-pass-4 {
  background-color: #555555;
}

.airbrushed-pass-5 {
  background-color: #444444;
}

.airbrushed-pass-6 {
  background-color: #333333;
}

.airbrushed-pass-7 {
  background-color: #222222;
}

.airbrushed-pass-8 {
  background-color: #111111;
}

.airbrushed-pass-9 {
  background-color: #000000;
}

footer {
  align-items: center;
  border-top: 1px solid #718f03;
  display: flex;
  flex-shrink: 0;
  justify-content: center;
  min-height: 5vh;
}

footer > a:link {
  color: #5a7ca3;
  font-family: Arial, Helvetica, sans-serif;
  font-size: small;
  text-decoration: none;
 }
