.etching-surface {
  border: 5px solid grey;
  display: flex;
  flex-wrap: wrap;
  height: 80vh;
  margin: 10vh auto;
  width: 80vh;
}

.surface-unit {
  background-color: #e0dfdd;
  box-sizing: border-box;
  height: 5vh;
  width: 5vh;
}

.etched {
  background-color: #595957;
}
